:root {
  --primary: #0e4e35;
  --secondary: #ccc;
  --third: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--third);
  line-height: 2;
  background: #ddd;
}

.container {
  margin: auto;
  max-width: 1100px;
  background: #eee;
}

.navbar {
  background: var(--secondary);
  border-bottom: 2px solid var(--primary);

  text-transform: uppercase;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 80px;
}

.logo {
  height: 110px;
  display: flex;
}

.nav-links {
  display: flex;
}

.nav-links i {
  margin-right: 5px;
}
.nav-links li {
  list-style-type: none;
  padding-right: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--third);
}

.nav-links li a:hover {
  border-bottom: 1px solid var(--third);
  color: #000;
}

.diet {
  grid-auto-flow: dense;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 80px;
  margin-right: 12px;
}

.diet-alt {
  margin-left: 12px;
  margin-bottom: 80px;
}

.diet img {
  border: 1px solid var(--primary);
  width: 95%;
  grid-column-start: 1;
  grid-column-end: 7;
}

.diet-alt img {
  grid-column-start: 7;
  grid-column-end: -1;
}

.diet_wrapper {
  grid-column-start: 7;
  grid-column-end: -1;
}

.diet_wrapper-alt {
  grid-column-start: 1;
  grid-column-end: 7;
}

h3 {
  width: 100%;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  background-color: var(--primary);
  letter-spacing: 2px;
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.btn {
  font-size: 18px;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--secondary);
}

.btn:visited {
  color: black;
}

.footer {
  background: var(--secondary);
  border-top: 2px solid var(--primary);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 40px;
}

.meal-picker {
  text-align: center;
}
